{% assign current_url = page.url | default: "" %}
{% assign datasets_active = false %}
{% if page.nav_id == "datasets" or current_url contains "/datasets/" %}{% assign datasets_active = true %}{% endif %}
{% assign leaderboard_active = false %}
{% if page.nav_id == "leaderboard" or current_url contains "/leaderboard/" %}{% assign leaderboard_active = true %}{% endif %}
{% assign paper_active = false %}
{% if page.nav_id == "paper" or current_url contains "/paper/" %}{% assign paper_active = true %}{% endif %}
{% assign team_active = false %}
{% if page.nav_id == "team" or current_url contains "/team/" %}{% assign team_active = true %}{% endif %}
{% assign github_url = site.git_address | default: "#" %}

<nav class="navbar navbar-default navbar-fixed-top agb-nav">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand agb-nav-brand" href="{{ "/" | relative_url }}" aria-label="AGB home">
                <span class="agb-logo-badge">AGB</span>
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="{% if page.nav_id == 'home' %}active{% endif %}">
                    <a href="{{ "/" | relative_url }}">Home</a>
                </li>

                <li class="{% if current_url == '/challenge/' %}active{% endif %}">
                    <a href="{{ "/challenge/" | relative_url }}">AGB Challenge</a>
                </li>

                <li class="dropdown agb-nav-dropdown{% if datasets_active %} active{% endif %}">
                    <a href="{{ "/datasets/" | relative_url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Datasets <i class="fa fa-chevron-down agb-nav-caret" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ "/datasets/" | relative_url }}">Overview</a></li>
                        <li><a href="{{ "/datasets/" | relative_url }}#homophilic">Homophilic Graphs</a></li>
                        <li><a href="{{ "/datasets/" | relative_url }}#heterophilic">Heterophilic Graphs</a></li>
                        <li><a href="{{ "/datasets/" | relative_url }}#large-scale">Large-Scale Graph</a></li>
                    </ul>
                </li>

                <li class="dropdown agb-nav-dropdown{% if leaderboard_active %} active{% endif %}">
                    <a href="{{ "/leaderboard/" | relative_url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Leaderboard <i class="fa fa-chevron-down agb-nav-caret" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ "/leaderboard/" | relative_url }}">Overview</a></li>
                        <li><a href="{{ "/leaderboard/" | relative_url }}#homophily">Homophily Results</a></li>
                        <li><a href="{{ "/leaderboard/" | relative_url }}#heterophily">Heterophily Results</a></li>
                        <li><a href="{{ "/leaderboard/" | relative_url }}#large-scale">Large-Scale Results</a></li>
                    </ul>
                </li>

                <li class="{% if paper_active %}active{% endif %}">
                    <a href="{{ "/paper/" | relative_url }}">Paper</a>
                </li>

                <li class="{% if team_active %}active{% endif %}">
                    <a href="{{ "/team/" | relative_url }}">Team</a>
                </li>

                <li>
                    <a href="{{ github_url }}" class="agb-nav-github"{% if github_url != "#" %} target="_blank" rel="noopener noreferrer"{% endif %}>Github</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
